.color-background {
  color: #232323;
}
.color-keyword {
  color: #395D94;
}
.color-comment {
  color: #60854A;
}
.color-string {
  color: #538DBD;
}
.color-variable {
  color: #538DBD;
}
.color-user {
  color: #00ff00;
}
.color-operator {
  color: #cccccc;
}
.color-prompt {
  color: #cccccc;
}
.color-error {
  color: #cccccc;
}
@font-face {
  font-family: 'commodore';
  src: url('../fonts/Commodore.ttf');
}
@keyframes cursor {
  0% {
    background-color: rgba(250, 250, 250, 0);
  }
  50% {
    background-color: rgba(250, 250, 250, 0.5);
  }
  100% {
    background-color: rgba(250, 250, 250, 0);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
html > * {
  box-sizing: border-box;
}
body {
  background-color: #333;
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
}
.container {
  margin-left: 1.1rem;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 2rem;
  width: fit-content;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 2rem;
  text-align: inherit;
}
.line:focus {
  outline: none;
}
.line .cursor {
  height: 2.2rem;
  width: 1.1rem;
  margin-top: 0rem;
  animation: cursor 1.42s ease-in-out infinite;
}
.line .prompt-input {
  line-height: 2rem;
  margin-left: 1.1rem;
  height: 2rem;
}
.line .fs {
  margin-right: 2.2rem;
}
.line .dir {
  color: #395D94;
}
