body {
    background-color: #333;
    font-size: 2rem;
    font-family: @font;
}
.container {
    margin-left: 1.1rem;
}
.line {
    .flex();
    .size(3rem, fit-content);
    .text(@line-height: 3rem);
      
    .cursor {
        height: 2.2rem;
        width: 1.1rem;
        margin-top: .5rem;
        animation: cursor 1.42s ease-in-out infinite;
    }
    .prompt-input {
        line-height: 3rem;
        margin-left: 1.1rem;
        height: 3rem;
    }
}