body {
    background-color: #333;
    font-size: 2rem;
    font-family: @font;
}
.container {
    margin-left: 1.1rem;
}
.line {
    .flex();
    .size(2rem, fit-content);
    .text(@line-height: 2rem);
    
    .cursor {
        height: 2.2rem;
        width: 1.1rem;
        margin-top: 0rem;
        animation: cursor 1.42s ease-in-out infinite;
    }
    .prompt-input {
        line-height: 2rem;
        margin-left: 1.1rem;
        height: 2rem;
    }
    .fs {
        margin-right: 2.2rem;
    }
    .dir {
        color: @color-keyword;
    }
}