//COLORS
@color-background:  #232323;
@color-keyword:     #395D94;
@color-comment:     #60854A;
@color-string:      #87513B;
@color-variable:    #538DBD;

//COLOR THEMES
//future idea, store colors in array
//$change theme [theme #] //to change themes dynamically

//FONTS
@font:  "Roboto Mono", monospace;